{% extends "base.html" %}

{% block title  %}PMC - Password Reset{% endblock %}

{% block content %}
<div class="modal" style="display:{{'block' if emailNotSent_modal else 'none'}}">
	<div class="modal-content">
		<p class="ip_promptline1">No Username or Email Record Found</p>
		<p class="ip_promptline2">Please Try Again</p>
		<button type="submit" class="ip_button" onclick="window.location.href='{{url_for('pmc_landing.password_reset')}}'">Try Again</button>
	</div>
</div>
<div class="modal" style="display:{{'block' if emailSent_modal else 'none'}}">
	<div class="modal-content">
		<p class="ip_promptline1">Reset email has been sent</p>
		<p class="ip_promptline2">Please check your registered email and follow the password reset link</p>
		<button type="submit" class="ip_button" onclick="window.location.href='{{url_for('pmc_landing.home')}}'">Back to Login</button>
	</div>
</div>
<div class="passwordresetframe">
	<div class="passwordmaincontent">
		<p class="passwordresetheading">Reset Your Password</p>
		<form class="passwordresetform" method="POST">
			<input type="text" class="passwordresetUE" placeholder="Enter Username or Email Address" name="password_useremail" id="pass_ue"/>
			<input type="submit" class="passwordresetconfirm" value="Reset Password"/>
		</form>
		<p class="passwordresetbreak">OR</p>
		<button class="passwordresetgoback" onclick="window.location.href='{{url_for('pmc_landing.home')}}'">Return to Login</button>
	</div>
</div>
{% endblock%}
